html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1440px;
    min-height: 100vh;
    background-color: black;
}

.cabecalho {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    border-bottom: solid 4px rgb(30, 223, 30);
}

.cabecalho .titulo {
    color: rgb(30, 223, 30);
    margin-left: 2.0rem;
}

.cabecalho .menu .itens{
    display: flex;
    gap: 2rem;
}

.cabecalho .menu .itens li {
    width: 8.5rem;
    height: 4rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: rgb(30, 223, 30);
    margin-right: 2.0rem;

}

.cabecalho .menu .itens li:hover {
    background-color: rgba(26, 129, 26, 0.587);
    transition: ease-in-out 0.3s;
    color: #fff;
    cursor: pointer;
}


.hero {
    background-color: black;
}